._local {
	box-sizing: border-box;
	padding: 36rpx;
	width: 100%;

	:global {
		.btn_add {
			padding-left: 36rpx;
			height: 160rpx;
			background-color: var(--color_main);
			color: white;
			line-height: 1;

			.mark {
				right: 0;
				font-weight: bolder;
				font-size: 360rpx;
				opacity: 0.12;
				transform: rotate(30deg);
			}

			.right {
				position: relative;
				z-index: 1;
				margin-left: 24rpx;

				.text {
					font-weight: 500;
					font-size: 30rpx;
				}

				.desc {
					margin-top: 18rpx;
					font-size: 24rpx;
				}
			}
		}
	}
}
