:global {
	.fontsize_subtext {
		font-size: var(--fontsize_subtext);
	}

	.radius_normal {
		border-radius: var(--radius_normal);
	}

	.color_main {
		color: var(--color_main);
	}

	.color_bg_main {
		background-color: var(--color_main);
	}

	.color_bg {
		background-color: var(--color_bg);
	}

	.color_bg_gradient {
		background: var(--color_bg_gradient);
	}

	.color_text {
		color: var(--color_text);
	}

	.color_subtext {
		color: var(--color_subtext);
	}

	.color_tiptext {
		color: var(--color_tiptext);
	}

	.color_price {
		color: var(--color_price);
	}

	.input_placeholder {
		color: #ccc;
	}

	.input_pure_placeholder {
		color: #999;
	}

	.title {
		font-weight: 500;
		font-size: 32rpx;
		line-height: 1;
	}

	.title_large {
		font-weight: 500;
		font-size: 36rpx;
		line-height: 1;
	}
}
