//variables based on Light Design

page {
	--fontsize_normal: 26rpx;

	--radius_normal: 12rpx;

	--color_main: #222;
	--color_bg: white;
	--color_bg_sub: #f8f9fd;
	--color_text: #222;

	--glass: saturate(180%) brightness(80%) blur(15px);
}
