//variables based on Light Design

page {
	--fontsize_normal: 26rpx;

	--radius_normal: 12rpx;

	--color_main: #222;
	--color_bg: white;
	--color_bg_sub: #f9f9f9;
	--color_text: #222;
	--color_border: rgba(245, 245, 245, 0.72);
	--color_border_deep: rgba(245, 245, 245, 0.9);

	--glass: saturate(180%) brightness(80%) blur(15px);

	--box_shadow_normal: 0 0 18px rgba(55, 84, 170, 0.15);
	--box_shadow_morphic: inset 0 0 15px rgba(55, 84, 170, 0),
		inset 0 0 20px rgba(255, 255, 255, 0), 10px 10px 18px rgba(55, 84, 170, 0.15),
		-10px -10px 22px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
	--box_shadow_morphic_top: inset 0 0 15px rgba(55, 84, 170, 0),
		inset 0 0 20px rgba(255, 255, 255, 0), 10px -10px 18px rgba(55, 84, 170, 0.15),
		-10px -10px 22px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
	--box_shadow_morphic_active: inset 7px 7px 15px rgba(55, 84, 170, 0.15),
		inset -7px -7px 20px white, 0px 0px 4px rgba(255, 255, 255, 0.2);
}
