//variables based on Light Design

page {
	--fontsize_normal: 28rpx;

	--radius_normal: 12rpx;

	--color_main: #2979ff;
	--color_bg: white;
	--color_bg_sub: #f9f9f9;
	--color_text: #222;
	--color_border: rgba(245, 245, 245, 0.72);
	--color_border_deep: rgba(245, 245, 245, 0.9);
	--color_shadow_main: fade(#2979ff, 36%);

	--glass: saturate(180%) brightness(80%) blur(15px);
}
