._local {
	:global {
		.nav_bar {
			z-index: 9999;

			.content_wrap {
				.logo_wrap {
					left: 36rpx;
					width: 40rpx;
					height: 40rpx;
					border-radius: 8rpx;

					.logo {
						width: 44rpx;
						height: 44rpx;
					}
				}

				.btn_back {
					left: 4rpx;
					padding: 8rpx 24rpx;
				}

				.title_wrap {
					.title {
						font-family: 'Mont';
					}
				}
			}
		}
	}
}
